accelerate==0.19.0
anyio==3.6.2
argilla==1.7.0
backoff==2.2.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
cryptography==40.0.2
Deprecated==1.2.13
et-xmlfile==1.1.0
faiss-cpu==1.7.4
filelock==3.12.0
fsspec==2023.1.0
greenlet==2.0.2
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.14.1
idna==3.4
importlib-metadata==6.6.0
intel-openmp==2023.1.0
joblib==1.2.0
langchain==0.0.27
lxml==4.9.2
Markdown==3.4.3
mkl==2023.1.0
mkl-include==2023.1.0
monotonic==1.6
msg-parser==1.2.0
nltk==3.8.1
numpy==1.21.6
olefile==0.46
openpyxl==3.1.2
packaging==23.1
pandas==1.3.5
pdf2image==1.16.3
pdfminer.six==20221105
Pillow==9.5.0
psutil==5.9.5
pycparser==2.21
pydantic==1.10.8
Pygments==2.15.1
pypandoc==1.11
pypdf==3.9.0
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==0.8.11
python-magic==0.4.27
python-pptx==0.6.21
pytube==12.1.3
pytz==2023.3
PyYAML==6.0
regex==2023.5.5
requests==2.31.0
rfc3986==1.5.0
rich==13.0.1
safetensors==0.3.1
scikit-learn==1.0.2
scipy==1.7.3
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.15
tbb==2021.9.0
threadpoolctl==3.1.0
tokenizers==0.13.3
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.65.0
transformers @ git+https://github.com/huggingface/transformers@003a0cf8cc4d78e47ef9debfb1e93a5c1197ca9a
typer==0.9.0
typing_extensions==4.6.0
unstructured==0.6.8
urllib3==2.0.2
wrapt==1.14.1
XlsxWriter==3.1.1
zipp==3.15.0
